adbc_driver_manager==1.9.0
adbc_driver_postgresql==1.9.0
adbc_driver_sqlite==1.9.0
aioquic==1.3.0
anyio==4.10.0
anywidget==0.9.21
AppKit==0.2.8
asgiref==3.11.0
atheris==3.0.0
authlib==1.6.6
BeautifulSoup==3.2.2
bokeh==2.4.1
boto3==1.42.18
botocore==1.42.18
brotli==1.2.0
brotlicffi==1.2.0.0
brotlipy==0.7.0
ca_certs_locater==1.0
cchardet==2.1.7
ConfigParser==7.2.0
contextlib2==0.6.0.post1
ctypes_snappy==1.03
cudf==0.6.1.post1
cupy==13.6.0
cycler==0.10.0
Cython==0.29.24
dask==2021.10.0
dask_expr==2.0.0
defusedxml==0.7.1
dl==0.1.0
docutils==0.17.1
duckdb==1.4.3
fastparquet==2025.12.0
fido2==2.0.0
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2025.12.0
gitdb_speedups==0.1.0
graphviz==0.21
grpc_status==1.0.0
gssapi==1.10.1
h2==4.3.0
html5lib==1.1
HTMLParser==0.0.2
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.34.4
hypothesis==6.148.8
ibis==3.3.0
ipython==9.8.0
ipywidgets==7.6.5
isoduration==20.11.0
jnius==1.1.0
JPype1==1.6.0
jsonpath_ng==1.7.0
jsonpointer==3.0.0
kerberos==1.3.1
keyring==23.1.0
lockfile==0.12.2
lxml==4.6.3
matplotlib==3.4.3
mock==4.0.3
modin==0.37.1
mtrand==0.1
mypy==1.19.1
nacl==0.0.0
numarray==1.5.1
Numeric==24.2
numexpr==2.7.3
oauth2client==4.1.3
oci==2.164.2
odfpy==1.4.1
olefile==0.46
pickle5==0.0.12
plotly==5.8.0
polars==1.36.1
psutil==5.8.0
py==1.10.0
pycares==5.0.0
pycurl==7.45.7
PyInstaller==6.17.0
pymongo_auth_aws==1.3.0
pymongocrypt==1.17.0
pyodbc==4.0.0_unsupported
pyodide==0.0.2
pyOpenSSL==25.3.0
pyperf==2.9.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.10.1
PySide6==6.10.1
pyspark==4.1.0
pytest==6.2.4
python-dotenv==1.2.1
python_calamine==0.6.1
pyu2f==0.1.5
pyxlsb==1.0.10
PyYAML==6.0.3
QtPy==1.10.0
railroad==0.5.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rfc3987_syntax==1.1.0
s3fs==2025.12.0
scikit_learn==1.8.0
scipy==1.7.1
scipy_doctest==2.0.1
service_identity==24.2.0
sets==0.3.2
setuptools_scm==9.2.2
simplejson==3.20.2
sniffio==1.2.0
snowflake==1.10.0
Sphinx==4.2.0
SQLAlchemy==1.4.22
sqlframe==3.43.8
sqlparse==0.5.5
sspi==0.1.0
streamlit_pdf==2.0.1
sympy==1.9
tables==3.6.1
thread==2.0.6
threadpoolctl==3.6.0
traitlets==5.1.0
trio==0.20.0
trove_classifiers==2025.12.1.14
truststore==0.10.4
uri_template==1.3.0
urllib3_secure_extra==0.1.0
uv==0.9.21
vegafusion==2.0.3
watchdog==2.1.3
webcolors==25.10.0
winkerberos==0.13.0
wmi==1.5.1
xarray==2025.12.0
xlrd==2.0.1
XlsxWriter==3.0.1
xmlrpclib==1.0.1
zstandard==0.25.0
